html {
	background-color: #333333;
}

h1{
	color: red;
}

pre {
	color: red;
	font-size: 18px;
}

#canvas {
  	display: flex;
  	/* This centers our sketch horizontally. */
  	justify-content: center;
}